@use "../abstract/colors";
@import "../abstract/_media-queries";

.btn {
	cursor: pointer;
	display: flex;
	font: inherit;
	justify-content: space-around;
	align-items: center;
	font-weight: bold;
	color: colors.$off-white;
	background-color: colors.$button-background;
	border-radius: 25px;
	padding: 0.75rem 2.5rem;
	border: none;
	&:hover,
	:active {
		background-color: colors.$button-hover;
	}
}

.icon {
	height: 1.35rem;
	width: 1.35rem;
	margin-right: 0.7rem;
	margin-bottom: 0.3rem;
}

.badge {
	background-color: colors.$badge-background;
	padding: 0.25rem 1rem;
	border-radius: 25px;
	margin-left: 0.9rem;

	&:hover,
	:active {
		background-color: colors.$badge-hover;
	}
}

@include CartBtn-media-query;