@use "../abstract/colors";

.input {
	font-weight: 800;
	label {
		margin-right: 1rem;
	}
	input {
		font-style: inherit;
		text-align: center;
		font-weight: bold;
		width: 3rem;
        border: 1px solid colors.$off-white;
        border-radius: 20px;
        padding-left: 0.8rem;
	}
}

@media screen and (max-width: 700px) {
	.input {
		input{
			 padding-left: 0;
		}
	}
}
