@import "../themes/_mixins";
@import "../abstract/animation";

.backdrop{
    position: fixed;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0,0.75);
}

.modal{
    z-index: 3;
    position: fixed;
    top: 30%;
    left: 50%;
    animation: cart-modal-bump 0.3s ease-in;
    transform: translateX(-50%);
    .content{
        padding: 1.5rem;
        margin: auto;
        width: 45vw;
        background-color: white;
        @include roundedShadow;
    }
}

