@use "../abstract/colors";

.summary{
    color: white;
    background-color: colors.$MealsSummary-background;
    margin: auto;
    border-radius: 14px;
    margin-top: -10rem;
    position: relative;
    max-width: 45rem;
    padding: 1rem;
    text-align: center;
    	box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.5);
 h2{
    font-size: 2rem;
 }
}

