@use "../abstract/colors";
@import "../themes/mixins";
@import "../abstract/animation";

.summary {
	color: white;
	background-color: colors.$MealsSummary-background;
	margin: auto;
	margin-top: -10rem;
	position: relative;
	max-width: 45rem;
	padding: 1rem;
	text-align: center;
	@include roundedShadow;
	animation: slide-in 0.3s ease-in;

	h2 {
		font-size: 2rem;
	}
	p {
		color: colors.$off-white;
		margin: 1rem 0;
	}
}
