@use "../abstract/colors";
@import "../themes/mixins";

.form {
	text-align: right;

	button {
		background-color: colors.$header-color;
		color: white;
          white-space: nowrap; 
		@include button-theme;
	}
}


